@model Videostore.Entities.Actor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Actor</h4>
<hr />
<div class="row">
    <div class="col-sm-12 col-md-6 offset-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="actorID" />
            <div class="form-group">
                <label asp-for="actorName" class="control-label"></label>
                <input asp-for="actorName" class="form-control" />
                <span asp-validation-for="actorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actorNationality" class="control-label"></label>
                <input asp-for="actorNationality" class="form-control" />
                <span asp-validation-for="actorNationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actorBirthday" class="control-label"></label>
                <input asp-for="actorBirthday" class="form-control" />
                <span asp-validation-for="actorBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
