@model Videostore.Entities.Director

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Director</h4>
<hr />
<div class="row">
    <div class="col-sm-12 col-md-6 offset-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="directorID" />
            <div class="form-group">
                <label asp-for="directorName" class="control-label"></label>
                <input asp-for="directorName" class="form-control" />
                <span asp-validation-for="directorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="directorNationality" class="control-label"></label>
                <input asp-for="directorNationality" class="form-control" />
                <span asp-validation-for="directorNationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="directorBirthday" class="control-label"></label>
                <input asp-for="directorBirthday" class="form-control" />
                <span asp-validation-for="directorBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
